:root {
  --drawer-width: 400px;
}

.drawer {
  position: fixed;
  @apply z-15;
  height: 100%;
  width: 100%;
  max-width: var(--drawer-width);
  top: 0;
  right: 0;
  visibility: hidden;
  transition: visibility 0s 0.3s;
}
.drawer:focus {
  outline: none;
}

.drawer--is-visible {
  visibility: visible;
  transition: none;
}

.drawer--open-left {
  right: auto;
  left: 0;
}

.drawer__content {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  right: 0;
  -webkit-transform: translateX(100%);transform: translateX(100%);

  transition: transform 0.3s;

  transition-timing-function: cubic-bezier(0.645, 0.045, 0.355, 1);
}
.drawer--open-left .drawer__content {
  -webkit-transform: translateX(-100%);transform: translateX(-100%);
}
.drawer--is-visible .drawer__content {
  transform: translateX(0);
}

.drawer__body {
  height: 100%;
  overflow: auto;

      overscroll-behavior: contain;
  -webkit-overflow-scrolling: touch;
}

.drawer__close-btn {
  --size: 32px;
  width: var(--size);
  height: var(--size);
  flex-shrink: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  @apply bg-floor-light/95;
  @apply shadow-inner-sm;
  transition: 0.2s;
}
.drawer__close-btn:hover {
  @apply bg-floor-lighter;
  @apply shadow-inner-md;
}
.drawer__close-btn .icon {
  display: block;
  @apply text-contrast-high;
}

.drawer--modal {
  max-width: none;
  @apply bg-black/0;
  transition: background-color 0.3s, visibility 0s 0.3s;
}
.drawer--modal.drawer--is-visible {
  @apply bg-black/75;
  transition: background-color 0.3s;
}
.drawer--modal.drawer--open-left .drawer__content {
  right: auto;
  left: 0;
}
.drawer--modal .drawer__content {
  max-width: var(--drawer-width);
}
