:root {
    --header-height: 50px;
  }
  @media (min-width: 64rem) {
    :root {
      --header-height: 70px;
    }
  }

  .header {
    height: var(--header-height);
    width: 100%;
    @apply bg-floor;
    @apply z-3;
  }

  .header__container {
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .header__logo {
    position: relative;
    z-index: 2;
    flex-shrink: 0;
  }
  .header__logo a, .header__logo svg, .header__logo img {
    display: block;
  }

  .header__nav {
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    width: 100%;
    max-height: 100vh;
    @apply bg-floor;
    @apply shadow-md;
    overflow: auto;
    overscroll-behavior: contain;
    -webkit-overflow-scrolling: touch;
    display: none;
  }
  .header__nav::before {
    content: "";
    display: block;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    height: var(--header-height);
    background: inherit;
    @apply border-b border-contrast-lower;
  }

  .header__nav--is-visible {
    display: block;
  }

  .header__nav-inner {
    @apply p-5 lg:p-8;
  }

  .header__label {
    @apply text-sm lg:text-base;
    @apply text-contrast-medium;
    @apply mt-3 lg:mt-5;
  }


  .header__link {
    @apply text-xl lg:text-3xl;
    @apply text-contrast-higher;
    text-decoration: none;
  }
  .header__link:hover, .header__link[aria-current] {
    @apply text-primary;
  }

  .header__nav-btn {
    @apply text-xl lg:text-3xl lg:leading-tight;
    width: 100%;
  }

  .header__item--divider {
    height: 1px;
    width: 100%;
    @apply bg-contrast-lower;
  }

  .header__trigger {
    position: relative;
    z-index: 2;
  }

  .header__trigger-icon {
    position: relative;
    display: block;
    height: 2px;
    width: 1em;
    background-color: currentColor;
    @apply mr-1.5 lg:mr-2;
    transition: 0.2s;
  }
  .header__trigger-icon::before, .header__trigger-icon::after {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: inherit;
    height: inherit;
    background-color: currentColor;
    transition: 0.2s;
  }
  .header__trigger-icon::before {
    -webkit-transform: translateY(-5px);transform: translateY(-5px);
  }
  .header__trigger-icon::after {
    -webkit-transform: translateY(5px);transform: translateY(5px);
  }

  .header__trigger[aria-expanded=true] .header__trigger-icon {
    background-color: transparent;
  }
  .header__trigger[aria-expanded=true] .header__trigger-icon::before {
    transform: rotate(45deg);
  }
  .header__trigger[aria-expanded=true] .header__trigger-icon::after {
    transform: rotate(-45deg);
  }

  @media (min-width: 64rem) {
    .header__nav {
      position: static;
      background-color: transparent;
      width: auto;
      max-height: none;
      box-shadow: none;
      overflow: visible;

          overscroll-behavior: auto;
      display: block;
    }
    .header__nav::before {
      display: none;
    }

    .header__nav-inner {
      padding: 0;
    }

    .header__label {
      position: absolute;
      clip: rect(1px, 1px, 1px, 1px);
        clip-path: inset(50%);
    }

    .header__list {
      display: flex;
      align-items: center;
    }

    .header__item {
      margin-bottom: 0;
    }

    .header__link, .header__nav-btn {
      font-size: 1.125rem;
    }

    .header__item--divider {
      height: 1em;
      width: 1px;
    }

    .header__trigger {
      display: none;
    }
  }

  .hide-nav {
    --hide-nav-transition-duration: 0.3s;
    position: -webkit-sticky !important;
    position: sticky !important;
    top: 0;
    will-change: transform;
    transition: background-color var(--hide-nav-transition-duration), -webkit-transform var(--hide-nav-transition-duration);
    transition: transform var(--hide-nav-transition-duration), background-color var(--hide-nav-transition-duration);
    transition: transform var(--hide-nav-transition-duration), background-color var(--hide-nav-transition-duration), -webkit-transform var(--hide-nav-transition-duration);
  }

  .hide-nav--fixed {
    background-color: transparent;
  }

  .hide-nav--has-bg {
    @apply bg-floor;
  }
